<html>
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<title>Google Maps - gmplot</title>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=visualization&key=AIzaSyApeNoZj_DRHq9mCZ8aEnkZx1IHqpPUt_Q"></script>
<script type="text/javascript">
    function initialize() {
        var map = new google.maps.Map(document.getElementById("map_canvas"), {
            zoom: 14,
            center: new google.maps.LatLng(42.358400, -71.059800)
        });

        var marker_icon_0B6EEF = {
            url: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAiCAYAAACwaJKDAAAABmJLR0QA/wD/AP+gvaeTAAABXklEQVRIia3VP0vDQBjH8W9OKhicxT8vQYTi5CBOvgrfgVDo23BscfENdBA3oZvQxalbBSludVARxSW2QpTokOekiebumrsfPByBy4fnLsklwpxtYB/YAhSQAQ/ANXBrufdPDoEh8G2oocyzJgJOpCMTqCuT+ZEJ7Dhi5epUwe2aoK52GdwEpp7oVByUoMdAXLUvjonF+c3Is0tdI8g3dwmYAcuenQKkQKyARiAQcRrKOq1GFHnLaSAvBVL9PY8DoWMg08u/DIQWnA0gwe91SsQppOWJtqra79YEu6Y9iYDeguA5hqNPZwW4cQTvgFUbqNMEPh3QA1dQ59QCXiwKAqyRHzT/gRmwUwcFOKtAr+qCALsV6JEPCvkTngdnWJ64y9HXL10PgHdfdFC69tpPnXWKy98LgQK8CPhF/sUZ4/o7mch4D3yEQl/nUGtc0TcZk5Dos4yPIdEnGScuk38ATj3qJoebBh4AAAAASUVORK5CYII=",
            labelOrigin: new google.maps.Point(10, 11)
        };

        new google.maps.Marker({
            position: new google.maps.LatLng(42.363210, -71.055940),
            icon: marker_icon_0B6EEF,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(42.364181, -71.054218),
            icon: marker_icon_0B6EEF,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(42.363880, -71.054150),
            icon: marker_icon_0B6EEF,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(42.364580, -71.053440),
            icon: marker_icon_0B6EEF,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(42.363240, -71.054740),
            icon: marker_icon_0B6EEF,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(42.359213, -71.054296),
            icon: marker_icon_0B6EEF,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(42.363244, -71.056085),
            icon: marker_icon_0B6EEF,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(42.357014, -71.060306),
            icon: marker_icon_0B6EEF,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(42.361080, -71.057072),
            icon: marker_icon_0B6EEF,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(42.365445, -71.056883),
            icon: marker_icon_0B6EEF,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(42.355517, -71.061436),
            icon: marker_icon_0B6EEF,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(42.365185, -71.055543),
            icon: marker_icon_0B6EEF,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(42.358301, -71.061981),
            icon: marker_icon_0B6EEF,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(42.361260, -71.056880),
            icon: marker_icon_0B6EEF,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(42.351408, -71.056867),
            icon: marker_icon_0B6EEF,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(42.358125, -71.059337),
            icon: marker_icon_0B6EEF,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(42.357602, -71.062840),
            icon: marker_icon_0B6EEF,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(42.357013, -71.059764),
            icon: marker_icon_0B6EEF,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(42.359861, -71.063290),
            icon: marker_icon_0B6EEF,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(42.360065, -71.055374),
            icon: marker_icon_0B6EEF,
            map: map
        });

    }
</script>
</head>
<body style="margin:0px; padding:0px;" onload="initialize()">
    <div id="map_canvas" style="width: 100%; height: 100%;" />
</body>
</html>
