<html>
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<title>Google Maps - gmplot</title>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=visualization&key=AIzaSyApeNoZj_DRHq9mCZ8aEnkZx1IHqpPUt_Q"></script>
<script type="text/javascript">
    function initialize() {
        var map = new google.maps.Map(document.getElementById("map_canvas"), {
            zoom: 14,
            center: new google.maps.LatLng(42.358400, -71.059800)
        });

        var marker_icon_0B6EEF = {
            url: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAiCAYAAACwaJKDAAAABmJLR0QA/wD/AP+gvaeTAAABXklEQVRIia3VP0vDQBjH8W9OKhicxT8vQYTi5CBOvgrfgVDo23BscfENdBA3oZvQxalbBSludVARxSW2QpTokOekiebumrsfPByBy4fnLsklwpxtYB/YAhSQAQ/ANXBrufdPDoEh8G2oocyzJgJOpCMTqCuT+ZEJ7Dhi5epUwe2aoK52GdwEpp7oVByUoMdAXLUvjonF+c3Is0tdI8g3dwmYAcuenQKkQKyARiAQcRrKOq1GFHnLaSAvBVL9PY8DoWMg08u/DIQWnA0gwe91SsQppOWJtqra79YEu6Y9iYDeguA5hqNPZwW4cQTvgFUbqNMEPh3QA1dQ59QCXiwKAqyRHzT/gRmwUwcFOKtAr+qCALsV6JEPCvkTngdnWJ64y9HXL10PgHdfdFC69tpPnXWKy98LgQK8CPhF/sUZ4/o7mch4D3yEQl/nUGtc0TcZk5Dos4yPIdEnGScuk38ATj3qJoebBh4AAAAASUVORK5CYII=",
            labelOrigin: new google.maps.Point(10, 11)
        };

        new google.maps.Marker({
            position: new google.maps.LatLng(42.354518, -71.044742),
            icon: marker_icon_0B6EEF,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(42.361080, -71.070659),
            icon: marker_icon_0B6EEF,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(42.362752, -71.055564),
            icon: marker_icon_0B6EEF,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(42.361838, -71.059764),
            icon: marker_icon_0B6EEF,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(42.347017, -71.068862),
            icon: marker_icon_0B6EEF,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(42.361325, -71.052435),
            icon: marker_icon_0B6EEF,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(42.366435, -71.061354),
            icon: marker_icon_0B6EEF,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(42.364168, -71.054070),
            icon: marker_icon_0B6EEF,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(42.371961, -71.062170),
            icon: marker_icon_0B6EEF,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(42.349322, -71.072102),
            icon: marker_icon_0B6EEF,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(42.350827, -71.043417),
            icon: marker_icon_0B6EEF,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(42.357556, -71.052991),
            icon: marker_icon_0B6EEF,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(42.361838, -71.059764),
            icon: marker_icon_0B6EEF,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(42.357407, -71.064118),
            icon: marker_icon_0B6EEF,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(42.355919, -71.060005),
            icon: marker_icon_0B6EEF,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(42.366435, -71.061354),
            icon: marker_icon_0B6EEF,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(42.358353, -71.069704),
            icon: marker_icon_0B6EEF,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(42.350537, -71.048734),
            icon: marker_icon_0B6EEF,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(42.360382, -71.062857),
            icon: marker_icon_0B6EEF,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(42.359952, -71.066352),
            icon: marker_icon_0B6EEF,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(42.358923, -71.058353),
            icon: marker_icon_0B6EEF,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(42.351743, -71.062759),
            icon: marker_icon_0B6EEF,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(42.356486, -71.059281),
            icon: marker_icon_0B6EEF,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(42.366435, -71.061354),
            icon: marker_icon_0B6EEF,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(42.359426, -71.052888),
            icon: marker_icon_0B6EEF,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(42.355123, -71.060879),
            icon: marker_icon_0B6EEF,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(42.355919, -71.060005),
            icon: marker_icon_0B6EEF,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(42.361838, -71.059764),
            icon: marker_icon_0B6EEF,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(42.361223, -71.065932),
            icon: marker_icon_0B6EEF,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(42.366435, -71.061354),
            icon: marker_icon_0B6EEF,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(42.370563, -71.060773),
            icon: marker_icon_0B6EEF,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(42.351318, -71.058383),
            icon: marker_icon_0B6EEF,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(42.356865, -71.053425),
            icon: marker_icon_0B6EEF,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(42.355216, -71.060128),
            icon: marker_icon_0B6EEF,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(42.355214, -71.062063),
            icon: marker_icon_0B6EEF,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(42.361838, -71.059764),
            icon: marker_icon_0B6EEF,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(42.352072, -71.059753),
            icon: marker_icon_0B6EEF,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(42.348277, -71.070389),
            icon: marker_icon_0B6EEF,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(42.366769, -71.053736),
            icon: marker_icon_0B6EEF,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(42.361526, -71.061338),
            icon: marker_icon_0B6EEF,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(42.353320, -71.061023),
            icon: marker_icon_0B6EEF,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(42.355214, -71.062063),
            icon: marker_icon_0B6EEF,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(42.359426, -71.052888),
            icon: marker_icon_0B6EEF,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(42.365054, -71.062117),
            icon: marker_icon_0B6EEF,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(42.361838, -71.059764),
            icon: marker_icon_0B6EEF,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(42.366435, -71.061354),
            icon: marker_icon_0B6EEF,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(42.352072, -71.059753),
            icon: marker_icon_0B6EEF,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(42.358922, -71.056354),
            icon: marker_icon_0B6EEF,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(42.344967, -71.063822),
            icon: marker_icon_0B6EEF,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(42.355123, -71.060879),
            icon: marker_icon_0B6EEF,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(42.352467, -71.061670),
            icon: marker_icon_0B6EEF,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(42.355123, -71.060879),
            icon: marker_icon_0B6EEF,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(42.366435, -71.061354),
            icon: marker_icon_0B6EEF,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(42.356801, -71.058930),
            icon: marker_icon_0B6EEF,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(42.361080, -71.070659),
            icon: marker_icon_0B6EEF,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(42.361325, -71.052435),
            icon: marker_icon_0B6EEF,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(42.356801, -71.058930),
            icon: marker_icon_0B6EEF,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(42.344934, -71.063663),
            icon: marker_icon_0B6EEF,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(42.356988, -71.060849),
            icon: marker_icon_0B6EEF,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(42.366435, -71.061354),
            icon: marker_icon_0B6EEF,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(42.361838, -71.059764),
            icon: marker_icon_0B6EEF,
            map: map
        });

    }
</script>
</head>
<body style="margin:0px; padding:0px;" onload="initialize()">
    <div id="map_canvas" style="width: 100%; height: 100%;" />
</body>
</html>
